.nav {
    height: 70px;
    background-color: #FFFFFF;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
}

.nav-logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 15px;
    margin-right: auto;
}